body {
    background: #68a;
    padding-top: 10px;
}

#bubble {
    position: absolute;
    left: calc(50% - 200px);
    top: 10%;
    z-index: 5;
    border: 1px solid #333;
    box-shadow: 0 0 10px #333;
    height: 650px;
    width: 400px;
    line-height: 100px;
    text-align: center;
    font-size: 5em;
    
    border-radius: 10px;
    background-color: #CDE;
}

@keyframes spin { 
    50% { 
        transform:rotate(180deg); 
        width: 100px;
        left: 48%;
        top: 28%
    } 
    100% { 
        transform:rotate(360deg); 
        width: 400px;
    } 
}

#yoni-jumping {
    width: 400px;
    position: absolute;
    left: 42%;
    z-index: 10;
    top: 15%;
    animation:spin 4s linear infinite;
}

.container {
    background: #FFF;
    border-radius: 10px;
    position: relative;
}

#yonipic {
    position: absolute;
    right: 21px;
    top: 4px;
    height: 60px;
    width: 53px;
}

#easteregg-with-the-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#numbers-to-choose td {
    text-align: center;
}
#numbers-to-choose td:hover {
    background-color: #DDD;
    cursor: pointer;
}
#numbers-to-choose td.selected {
    background-color: #369;
    color: #FFF;
    font-weight: bold;
}

#chosen-numbers-wrapper {
    min-height: 50px;
}

#error-message {
    min-height: 25px;
}

.selected-number {
    border: 1px solid #AAA;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    font-weight: normal;
}

#past-numbers td {
    line-height: 48px;
    font-weight: bold;
}

@media (max-width: 600px) {
    
    #bubble {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        border: 1px solid #333;
        border-radius: initial;
        height: initial;
        width: initial;
        line-height: 100px;
        text-align: center;
        font-size: 5em;
    }
    
    @keyframes spin { 
        50% { 
            transform:rotate(180deg); 
            width: 100px;
            left: 38%;
            top: 28%
        } 
        100% { 
            transform:rotate(360deg); 
            width: 300px;
        } 
    }

    #yoni-jumping {
        width: 300px;
        left: 10%;
        z-index: 10;
    }

    #yonipic {
        display: none;
    }

    h1 {
        padding-top: 10px;
    }
    
    .submitted-numbers-wrapper .selected-number {
        width: 30px;
        height: 30px;
        line-height: 28px;
        margin: 3px;
    }
}